body{
    font-family: 'Orbitron', sans-serif;
    background-color: red;
}

.header_div{
    background: indigo;
    color: black;
}

.header_div p{
    font-family: "Roboto", sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: darkgrey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: indigo;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}